.main-btn, .secondary-btn {
  padding: 1em 2em;
  margin-bottom: 1em;
}

.main-btn {
  background-color: #4a8bbd;
}
.main-btn:hover {
  background-color: #1d3a51;
}

.secondary-btn {
  background-color: #61ce3c;
}
.secondary-btn:hover {
  background-color: #285a17;
}
