$primary-color: #4a8bbd;
$secondary-color: #61ce3c;

@mixin button($color) {
	background-color: $color;
	// Good!
	@extend %btn;

	&:hover {
		background-color: darken($color, 30%);
	}
}

// Potentially better!
%btn {
	padding: 1em 2em;
	margin-bottom: 1em;
}

.main-btn {
	@include button($primary-color);
}

.secondary-btn {
	@include button($secondary-color);	
}