
// ---
// Settings
// ---

// This is my variables file, but I call it "settings" for some reason. 
// Well, I probably saw someone smart do it so now I do it and now you will do it...interesting how that works. 


// ---
// Screen sizes
// ---

// Read this NOW:
// http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/

// "Start with the small screen first, then expand until it looks like shit. Time for a breakpoint!"
// -Stephen Hay

$screen-sm: 		30em;
$screen-md: 		48em;
$screen-lg: 		60em;



// ---
// Colors
// ---

// These are names for actual colors. Below, you'll see how to name them for use.

// Aw man, I love Kuler:
// http://adobe.ly/1wwZ0Rk

$dark-blue: 		#334D5C;
$teal: 				#45B29D;
$yellow: 			#EFC94C;
$orange: 			#E27A3F;
$red: 				#DF4949;

// In art school I was told never to make white pure white and black pure black - not sure if that holds up for the world wide web, but maybe!
$white: #fefefe;
$black: #1F232A;


// STOP!!! READ THIS: 
// Semantic Color Names
// http://thesassway.com/beginner/variable-naming

// These are nice utility colors
$accent-light: 		$yellow;
$accent-med: 		$teal;
$accent-dark:		$dark-blue;

$text-light: 		$white;
$text-dark: 		$black;

$notice-success:	$teal;
$notice-info:		lighten($dark-blue, 20%);
$notice-danger:		$red;
$notice-warning:	$orange;

// Then element-based names are nice too
$link-color: 		$accent-med;
$link-hover: 		darken($link-color, 20%);
$link-active: 		darken($link-color, 60%);




// ---
// Scale
// ---

// Use these values for font sizes, margins, padding, everything! It's nice to use consistent values instead of magic numbers (http://j.mp/smellycss).

// But also look into Modular Scale if you want to get all next level: 
// https://github.com/Team-Sass/modular-scale

// This is a cool thought:
// http://css-tricks.com/rems-ems/

// (let's clap for Chris Coyier for a sec, please)

// About rems:
// http://snook.ca/archives/html_and_css/font-size-with-rem

$base:  			1.1rem;
$sml:  				$base*0.8;

$h1:  				$base*2.6;
$h2:  				$base*2.2;
$h3:  				$base*1.8;
$h4:  				$base*1.4;
$h5:  				$base*1.2;
$h6:  				$sml;



// ---
// Typography
// ---

// Pretty standard.

$sans-serif: 		Helvetica, sans-serif;
$serif:             Georgia, serif;

// If you are using webfonts and are a good girl/boy, you will define some fallbacks (see the top of _typography.scss for where to use them):

// $sans-serif-fallback: Helvetica, sans-serif;
// $serif-fallback: Georgia, serif;

// Here's a relatively complicated article about web fonts and performance:
// http://artequalswork.com/posts/adventures-in-dynamic-subsetting/


// Semantic names

$line-height-base: 	1.5;

$heading-font: 		$serif;
$body-font: 		$sans-serif;

// $body-font-fallback:		$sans-serif-fallback;
// $heading-font-fallback:	$serif-fallback



// ----
// Helpers
// ----

// Shortcuts for things you might be typing a lot.

$accent-border: 1px dotted $accent-med;

// The most commonly rotated color:
$rotate-text: 	$text-light;
$rotate-bkgd: 	$accent-med;
$rotate-link: 	$accent-light;